.cardone {
    width: 49%;
    height: 30%;
    margin: 1px;
    border: 1px black solid;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    float: left;
    background-image: url(images/potpie.jpeg);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    color: black;
    margin-bottom: 10px;
    box-shadow: 2.5px 5px grey;
}

.cardtwo {
    width: 49%;
    margin: 1px;
    border: 1px black solid;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(images/popcorn.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    float: right;
    margin-bottom: 10px;
    box-shadow: 2.5px 5px grey;
}

.cardthree {
    width: 49%;
    margin: 1px;
    border: 1px black solid;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    float: left;
    background-image: url(images/meatloaf.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    box-shadow: 2.5px 5px grey;
}

.cardfour {
    width: 49%;
    margin: 1px;
    border: 1px black solid;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(images/mac.jpeg);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    float: right;
    box-shadow: 2.5px 5px grey;
}

a {
    color: black;
}

a:hover {
    color: #4E4E49;
}

body {
    text-align: center;
    width: 800px;
    margin: auto;
}

